# Directus CMS
DIRECTUS_URL=
DIRECTUS_TOKEN=

# Supabase (Telemetry & Logs)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Glance API (Homelab Uptime)
GLANCE_URL=
GLANCE_API_KEY=
